{% extends "base.html" %} 
{% block content %} 
<div class="admin-panel">
<h1>Панель администратора
    <a href="/logout" style="float:right; border-radius: 15px; padding: 2px; background:red; color:white; padding:5px 10 px;">Выйти</a>
</h1>
<table border="1" cellpadding="5">
    <tr> 
        <th>ID</th><th>Клиент</th><th>Телефон</th><th>Адрес</th><th>Заказ</th><th>комментарий</th><th>Сумма</th><th>Статус</th><th>Действие</th> 
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.customer_name }}</td> 
        <td>{{ order.customer_phone }}</td>
        <td>{{ order.customer_address }}</td> 
        <td>{{ order.order_items }}</td> 
        <td>{{ order.comments }}</td>
        <td>{{ order.total_price }} ₽</td> 
        <td>{{ order.status }}</td>
        <td>
            <a href="/update_status/{{ order.id }}/Новый">Новый</a> |
            <a href="/update_status/{{ order.id }}/Готовится">Готовится</a> | 
            <a href="/update_status/{{ order.id }}/Доставка">Доставка</a> | 
            <a href="/update_status/{{ order.id }}/Выполнен">Выполнен</a>
        </td> 
    </tr>
    {% endfor %} 
</table>
{% endblock %}
</div>