{% extends "base.html" %}
{% block content %}
<h1 class="menu-text">Меню</h1>
<div class="grid_dish">
    {% for item in menu %}
    <div class="dish">
        <img src="{{ url_for('static', filename='Images/' + item.img) }}" 
             class="food-img" 
             width="300" 
             height="200" 
             alt="{{ item.name }}" 
             loading="lazy">
        <h3 class="dish_name">{{ item.name }}</h3>
        <div class="dish-info">
            <p>{{ item.category }} | {{ item.price }} ₽</p>
            <a href="/add_to_cart/{{ item.id }}">Добавить</a>
        </div>
    </div>
    {% endfor %} 
</div>
{% endblock %}
