{% extends "base.html" %}
{% block content %}
<div class="login-board">
    <h2>Вход</h2>
    {% if error %}
    <div class="error-message" style="color: #ff4444; margin-bottom: 15px; padding: 10px; background: #331111; border-radius: 5px;">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST">
        <input class="login" type="text" name="username" placeholder="Логин"><br><br>
        <input class="password" type="password" name="password" placeholder="Пароль"><br><br>
        <button class="login-button" type="submit">Войти</button>
    </form>
</div>
{% endblock %}
